%nav.navbar.navbar-inverse{ role: 'navigation' }
  .container-fluid
    .navbar-header
      %h1 PidgePodge
    %ul.nav.navbar-nav
      %li=link_to 'Link 1', '#'
      %li=link_to 'Link 2', '#'
      %li=link_to 'Link 3', '#'